<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DS MOVIE RECOMMENDER</title>
</head>

<body>
  <h1>Hello World!</h1>
  <br>
  <h3>Welcome to my site!</h3>
  <form action='/recommender' method="get">
    <p>Enter some info <p>
    <input type="text" name="movie1" placeholder="Enter a movie title">
    <input type="text" name="" placeholder="Enter a rating (1-5)">
    <br>
    <input type="text" name="movie2" placeholder="Enter a movie title">
    <input type="text" name="" placeholder="Enter a rating (1-5)">
    <br>
    <input type="text" name="movie3" placeholder="Enter a movie title">
    <input type="text" name="" placeholder="Enter a rating (1-5)">
    <br>
    <input type="submit" value="gimme ratings">
    <br>
  </form>


  <a href='/recommender'>Click here for recommendations!</a>
</body>

</html>
